{% extends 'AppCoder/index.html' %}
{% load static %}
{% csrf_token %}

{% block contenido %}
    <div>
        <div>
            <div> 
                
                    <h1><strong><u>{{ game.titulo }}</u></strong></h1>
                    <br>
                    <br>
                    <img src="{{ game.caratula.url }}" alt="imagen" width="600" height="350">
                    <br>
                    <br>
                    <ul>
                    <li><b>Descripcion: </b>{{game.descripcion}}</li>
                    <li><b>Genero: </b>{{game.genero}}</li>
                    <li><b>Fecha de estreno: </b>{{game.fecha_de_estreno}}</li>
                    <li><b>Tipo de juego: </b>{{game.tipo_de_juego}}</li>
                    </ul>
                    <br>
                    <br>

                    <br>
            </div> 
        </div>
    </div>
{% endblock %}